<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Pagina sobre Github</title>
<link rel="stylesheet" href="css/styles.css">

</head>
<body>
	<header>
		<h1>Implementacion de Github</h1>
		<nav>
			<ul>
				<li><a href="#seccion1">Creación del Repositorio en GitHub</a></li>
				<li><a href="#seccion2">Clonar el Repositorio en Spring
						Tools Suite</a></li>
				<li><a href="#seccion3">Importar el Proyecto a Spring Tools
						Suite</a></li>
			    <li><a href="form-cliente ">Formulario</a></li>
			</ul>
		</nav>
	</header>

	<main>

		<section id="seccion1">
			<h2>Creación del Repositorio en GitHub</h2>
			<h3>Para comenzar, sigue estos pasos:</h3>
			<ol>
				<li>Ve a la página principal de GitHub y asegúrate de iniciar
					sesión en tu cuenta.</li>
				<li>Haz clic en el botón "New" para crear un nuevo repositorio.</li>
				<li>Asigna un nombre al repositorio, proporciona una
					descripción opcional y selecciona la visibilidad deseada.</li>
				<li>Finalmente, haz clic en el botón "Create repository".</li>
			</ol>
		</section>


		<section id="seccion2">
			<h2>Clonar el Repositorio en Spring Tools Suite</h2>
			<h3>Para clonar el repositorio en Spring Tools Suite, sigue
				estos pasos:</h3>
			<ol>
				<li>Abre Spring Tools Suite en tu computadora y selecciona la
					perspectiva "Git".</li>
				<li>Haz clic en el botón "Clone a Git Repository" o selecciona
					"File > Import" y elige "Git > Projects from Git".</li>
				<li>Ingresa la URL del repositorio de GitHub que acabas de
					crear.</li>
				<li>Selecciona el directorio de destino donde deseas clonar el
					repositorio en tu computadora.</li>
				<li>Finaliza el proceso de clonación haciendo clic en "Next" y
					luego en "Finish".</li>
			</ol>
		</section>


		<section id="seccion3">
			<h2>Importar el Proyecto a Spring Tools Suite</h2>
			<h3>Una vez que el repositorio ha sido clonado, puedes importar
				el proyecto a Spring Tools Suite de la siguiente manera:</h3>
			<ol>
				<li>Ve a "File > Import" y selecciona "Maven > Existing Maven
					Projects".</li>
				<li>Navega hasta el directorio donde clonaste el repositorio y
					selecciona el archivo "pom.xml" del proyecto.</li>
				<li>Haz clic en "Finish" para importar el proyecto a Spring
					Tools Suite.</li>
			</ol>
		</section>
	</main>
	<!-- conternido adicional -->
	<aside>
		<h2>Desarrollo y Trabajo en el Proyecto</h2>
		<section>
			<img src="image/imagen1.jpg">
			<p>Una vez que el proyecto se haya importado correctamente,
				puedes comenzar a trabajar en él en Spring Tools Suite. Agrega tus
				archivos de código fuente, recursos y cualquier otra configuración
				necesaria para tu proyecto. Utiliza las herramientas y
				características de Spring Tools Suite para desarrollar, depurar y
				probar tu aplicación.</p>
		</section>
		<section>
			<h3>Hacer Commits y Push al Repositorio</h3>
			<p>Después de hacer cambios en tu proyecto, haz clic derecho en
				el proyecto en el Explorador de Proyectos y selecciona "Team >
				Commit" para hacer un commit de tus cambios. Escribe un mensaje
				descriptivo para el commit y haz clic en "Commit and Push" para
				enviar los cambios al repositorio en GitHub. Proporciona tus
				credenciales de GitHub si se te solicita. Una vez que los cambios
				hayan sido enviados con éxito, estarán disponibles en el repositorio
				remoto en GitHub.</p>
		</section>


	</aside>



	
		<footer>
			<p>Contacto: axelcapofg@gmail.com</p>
			<nav>
				<ul>
					<p >Mi instagram: </p>

					<a href="https://www.instagram.com/axelayalajara?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="target="_blank" >@AxelAyalaJara</a>
				</ul>
			</nav>
		</footer>
	
</body>
</html>
