@charset "UTF-8";
/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #343a40;
    font-size: 24px;
}

ol {
    padding-left: 20px;
}

aside {
    background-color: #f0f3f5;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos para la imagen en el aside */
aside img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para los enlaces del footer */
footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer nav ul a:hover {
    color: #ffc107;
}
